<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AltoControls" version="1.0.1" targetFramework="net452" />
  <package id="GroupControls" version="1.5.3" targetFramework="net452" />
  <package id="TaskScheduler" version="2.7.3" targetFramework="net452" />
  <package id="TimeSpan2" version="2.1.6" targetFramework="net452" />
  <package id="WinFormAnimation" version="1.5.6298.3372" targetFramework="net452" />
</packages>